<nav><%= link_to "All Lists", user_path(current_user) %>
<h1><%= @list.name %></h1>

  <ul>
    <%= render partial: "item", collection: @items %>
  </ul>


<%= link_to "Edit List", edit_list_path %><br />
<%= link_to "Add New Item", new_list_item_path(@list)%>

<div="new-item-form">
  <%= render partial: "/items/form", :f => @items %>
</div>
