<!DOCTYPE html>
<html>
  <head>
    <title>List Central</title>
    <%= csrf_meta_tags %>
    <!-- <link href= "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css"> -->
    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= "Logged in as #{current_user.username}"%><br />
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %> ||
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
    <br /><strong><%= flash.notice %></strong>
    <%= yield %>
  </body>
</html>
